{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}
Our team of professionals works for your farm | SHAR Ltd
{% endblock %}


{% block description %}
The experience and enthusiasm of our employees allows us to develop at a fairly rapid pace. In May 2020, a pelletizing production line with a capacity of 100 tons per day was put into operation, which allows providing most of the leading feed mills in Russia, as well as plants and farms in Europe with raw materials.
{% endblock %}

{% block body_class %}
page-about
{% endblock %}

{% block content %}
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('../../static/img/home_img/as_back_8.jpg');">

	<div class="pattern" style="opacity: 0.25;"></div>

	<div class="container">
		<div class="intro__text">
			<h1 class="intro__title">About us</h1>
		</div>
	</div>
</header>

<main role="main">
	<!-- start section -->
	<section class="section section--no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="col-MB-30">
						<h2>Our company was established relatively recently.</h2>

						<h4>Date of foundation - 03.03.2020.</h4>
					</div>

					<p>
						The experience and enthusiasm of our employees allows us to develop at a fairly rapid pace. In May 2020, a pelletizing production line with a capacity of 100 tons per day was put into operation, which allows providing most of the leading feed mills in Russia, as well as plants and farms in Europe with raw materials.
					</p>

					<p>
						Thanks to a well-chosen staff, a modern, technological production process worked out to the smallest detail, the quality of products, as well as love for our work, we strive to ensure the health of animals, maximum genetically inherent productivity (dairy, egg, meat – live weight gain), reduce morbidity and mortality, reduce the cost of treating livestock, increase the immune status and resistance to infections, and, as a result, increase the economic efficiency of farming.
					</p>

					<p class="col-lg-MB-20">&nbsp;</p>

				</div>

				<div class="col-lg-4 offset-lg-1">
					<div class="col-MB-30">
						<img class="d-block mx-auto img-fluid" src="{% static 'img/as_l2_2.png' %}" alt="SHAR Ltd" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--background-base-light section--background-logo">
		<div class="container">
			<div class="section-heading section-heading--left">
				<h2 class="title">Our advantages</h2>
			</div>

			<div class="counters counters--style-2">
				<div class="counters__inner">
					<div class="row">
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--1"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">products are manufactured in accordance with GOST</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--3"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="16 " data-after="rub">16 </p>

								<p class="counter__item__title">per kilogram of product</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--4"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">alfalfa, uncontaminated</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--2"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="1000" data-after="kg">1000</p>

								<p class="counter__item__title">max container</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--custom-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="col-MB-30">
						<h2>Мы осознаем свою ответственность</h2>
					</div>

					<p>
						Продукция к нашему потребителю поступает натуральной, высококачественной и экологически безопасной. Мы осознаем свою ответственность в области изготовления безопасных и здоровых кормов, подстилок и наполнителей, удовлетворяющих самым высоким требованиям. Выпуск безупречной продукции – главная задача компании сегодня, это позволяет нам уверенно смотреть в будущее.
					</p>

					<p>
						Уверены, наша продукция будет интересна широчайшему кругу лиц, начиная от детей, желающих угостить своего любимца хрустящей, ароматной  «вкусняшкой», хозяев личных подсобных хозяйств, кролиководов, заботящихся о сохранности и здоровье своих подопечных, до конно-спортивных школ, крупных рыбоводческих хозяйств и агрохолдингов, использующих нашу гранулу люцерны для полнорационного откорма, а гранулу соломы – для антисептической впитывающей подстилки для выращивания птицы, КРС, свиного поголовья. 
					</p>

					<p class="d-lg-none"><img class="img-fluid" src="{% static 'img/as_img_10.jpg' %}" alt="demo" /></p>

					
				</div>
			</div>
		</div>

		<div class="img-place" style="background-image: url(../../static/img/as_img_10.jpg);"></div>

	</section>
	
</main>

{% endblock %}