{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}

Alfalfa Granules | Straw pellets

{% endblock %}


{% block description %}
Lucerne and straw from the manufacturer at a low price with delivery across Russia, the CIS and European countries.
{% endblock %}

{% block keywords %}

alfalfa, buy alfalfa, alfalfa price

{% endblock %}


{% block content %}
<!-- start header -->
<header id="start-screen" class="start-screen--style-1">
	<div id="vegas-slider" data-dots="true">
		<div class="vegas-control">
			<!-- <span id="vegas-control__prev" class="vegas-control__btn">Prev</span>
			<span id="vegas-control__next" class="vegas-control__btn">Next</span> -->
		</div>
	</div>

	<div id="start-screen_content-container">
		<div class="start-screen__content start-screen__content-first">
			<div class="v-align">
				<div class="v-middle">
					<div class="container">
						<div class="row justify-content-center text-center">
							<div class="col-12 col-xl-10">
								<p class="title">SHAR Ltd</p>

								<p class="subtitle">
									agro company
								</p>

								<p>
									<a class="custom-btn big primary" href="{% url 'en_show_about' %}">About</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</header>
<main role="main">
	<section class="section section--no-pb">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4 col-xl-3">
					<div class="col-MB-30">
						<h2>The main consumers of our products</h2>
					</div>
				</div>

				<div class="col-12 col-lg-8 col-xl-9">
					<div class="col-MB-30">
						<h4>
							We are sure that our products will be of interest to the widest circle of people. 
						</h4>

						<p>
							Starting from children who want to treat their pet with a crispy, fragrant "tasty treat", owners of personal subsidiary farms, rabbit breeders who care about the safety and health of their wards, to equestrian sports schools, large fish farms and agricultural holdings that use our alfalfa pellet for full-feed fattening, and a straw pellet - for an antiseptic absorbent bedding for growing poultry, cattle, pigs.
						</p>
					</div>

					<div class="feature feature--style-1">
						<div class="feature__inner">
							<div class="row justify-content-between">
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--1"></i>

										<h3 class="feature__item__title  h4">Сattle</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--2"></i>

										<h3 class="feature__item__title  h4">Rabbits</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--3"></i>

										<h3 class="feature__item__title  h4">Horses</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--4"></i>

										<h3 class="feature__item__title  h4">Goats and sheep</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--5"></i>

										<h3 class="feature__item__title  h4">Pets</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--7"></i>

										<h3 class="feature__item__title  h4">Birds</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--6"></i>

										<h3 class="feature__item__title  h4">Feed mills</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="col-MB-30">
						<h2>Our production</h2>

						<h4>Marketing research has shown that the ratio of "price-quality" indicators of products keeps us in the first lines of the rating.</h4>
					</div>

					<p>
						Quality control of our products includes several stages, among which control over the quality of incoming raw materials is of great importance. 
					</p>

					<p>
						All shipped goods are produced under GOSTs and are accompanied by Quality Certificates and Safety Declarations TR CU.
					</p>

					<p>
						We are ready to supply our products packed in proper containers with net weight from 1 to 1000 kg.
					</p>

					<p>
						A professionally oriented team of specialists can complete any assigned production task around the clock, which guarantees the buyer the fulfillment of all delivery dates upon conclusion of the corresponding contract. 
					</p>

					<p class="col-lg-MB-20">&nbsp;</p>

					<p>
						<a class="custom-btn primary big" href="{% url 'en_show_production' %}">Details</a>
					</p>
				</div>

				<div class="col-lg-4 offset-lg-1">
					<div class="col-MB-30">
						<img class="d-block mx-auto img-fluid" src="{% static 'img/as_l2_2.png' %}" alt="demo" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--background-logo">
		<div class="container">
			<div class="section-heading section-heading--left">
				<h2 class="title">Our advantages</h2>
			</div>

			<div class="counters counters--style-2">
				<div class="counters__inner">
					<div class="row">
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--1"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">products are manufactured in accordance with GOST</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--3"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="16 " data-after="rub">16 </p>

								<p class="counter__item__title">per kilogram of product</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--4"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">alfalfa, uncontaminated</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--2"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="1000" data-after="kg">1000</p>

								<p class="counter__item__title">max container</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="section-heading section-heading--center">
				<h2 class="title">Our production</h2>
			</div>
			<div class="products">
				<div class="products__inner">
					<div class="row no-gutters align-items-md-center">
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--text">
								<i class="product__item__ico as_product__item__ico--2"></i>

								<h3 class="product__item__title"><a href="{% url 'en_show_products' %}">Granulated alfalfa</a></h3>

								<p>
									The main food for cattle raised on farms is special animal feed. The rate of weight gain and even the taste of meat depends on the quality of nutrition. Considering that in Russia, many are engaged in raising gobies and cows, as well as horses, sheep and rabbits, Russian-made feed is very necessary for them. Particularly advantageous is the production of herbal flour granules.
								</p>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--image">
								<img class="img-fluid" src="{% static 'img/products_img/lucerna3.jpg' %}" alt="Granulated alfalfa" />
							</div>
						</div>
					</div>

					<div class="row no-gutters align-items-md-center">
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--text">
								<i class="product__item__ico as_product__item__ico--1"></i>

								<h3 class="product__item__title"><a href="{% url 'en_show_products' %}">Granulated straw</a></h3>

								<p>
									Straw granules for bedding in Horse stalls. What are the advantages of straw granules and why are they inferior to the usual litter for stalls according to several criteria? Unlike sawdust, straw granules absorb twice as much moisture and perfectly keep the smell of ammonia, and waste from such a litter is an excellent fertilizer, unlike extremely slowly decomposing sawdust. In addition, the latter may contain chemicals that were used to treat trees, which will definitely not have a positive effect on the health of the horse. 
								</p>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--image">
								<img class="img-fluid" src="{% static 'img/products_img/soloma3.jpg' %}" alt="Granulated straw" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="item map-container">
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A243a4d286d6e29ca7532e6d2de89d0cb481c48b50113bdadb76f19882d9ac5ec&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>	
{% endblock %}