{% extends 'en_baseapp/en_base.html' %}

{% load static %}

{% block title %}
Alfalfa pellets, straw pellets. Produced according to GOST and without preservatives | SHAR Ltd
{% endblock %}


{% block description %}
Herbal granules are a natural protein and vitamin feed for animals and poultry, which is obtained from chopped and dried grass by means of granulation.
{% endblock %}

{% block body_class %}
page-product-case
{% endblock %}

{% block content %}
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('../../static/img/home_img/as_back_6.jpg');">

	<div class="pattern" style="opacity: 0.25;"></div>

	<div class="container">
		<div class="intro__text">
			<h1 class="intro__title">Our products</h1>
		</div>
	</div>
</header>
<main role="main">
	<!-- start section -->
	<section class="section">
		<div class="container">
			<div class="single-content">
				<h2 class="title">Granulated alfalfa</h2>

				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="column">
							<h4>In the agricultural world, the production and good health of animals directly depends on feeding.</h4>

							<p>
								Since in most animal farms, livestock is sold, for meat and for the production of subsequent generations, and here it is simply impossible to save money, but to feed them.
							</p>

							<p>
								What is granulated alfalfa for animal feeding - is it grass meal, which itself is a fodder product of proteins and vitamins. Derived from herbs that were harvested early in the growing season. Such a herb was served drying at a high temperature, and then it was simply ground into flour and granulated.
							</p>

							<p>
								The very technology for collecting and drying herbs was invented specifically in order to save 95% of nutrients and vitamins. Consequently, such feed will significantly increase the productivity of animals. And this flour is stored in the form of granules. At an air temperature from -15 to 25 C, at a relative humidity of 70-75%, for a period of up to 2 years.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4">
						<div class="column">
							<p>
								Benefits of granulated alfalfa for livestock feeding:
							</p>

							<p>
								- 2 times more protein content compared to other feed
							</p>

							<p>
								- 3 times more minerals than in grain feed
							</p>

							<p>
								- several times more vitamins than the rest of all known feed.
							</p>
							<p>
								The result is savings, as the cost of feeding livestock is 10-20% less. So, buying this feed for your livestock is financially beneficial. The breeder will always be in the black, both in feeding and in livestock production. You can store this product for 1 year, in a dry place, but if it is not opened and stored in a dry place, then it can be up to 10 years, while it does not lose its nutrients and properties. Animals are good, eat it and digest it well, and it doesn't matter whether a cow or a rabbit, there are no problems with digestion. 
							</p>
						</div>
					</div>

					<div class="col-lg-3 offset-xl-1">
						<div class="column">
							<ul class="details">
								<li>
									<p class="title">Product</p>
									<strong>Granulated alfalfa</strong>
								</li>

								<li>
									<p class="title">daily milk yield</p>
									<strong>12% more </strong>
								</li>

								<li>
									<p class="title">weight gain of rabbits</p>
									<strong>from 8% to 15%</strong>
								</li>

								<li>
									<p class="title">weight gain of fattening pigs</p>
									<strong>from 10% to 19% </strong>
								</li>

								<li>
									<p class="title">weight gain of the bird</p>
									<strong>from 7% to 12%</strong>
								</li>
								<li>
									<p class="title">egg production of birds</p>
									<strong>15% more</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>

				<div class="row flex-lg-row-reverse">
					<div class="col-lg-7">
						<div class="column">
							<h4>Production of grass granules for cattle, poultry, horses, sheep and rabbits.</h4>

							<p>
								The main food for cattle raised on farms is special animal feed. The speed of weight gain and even the taste of meat depend on the quality of food. If we consider that many people in Russia are engaged in raising steers and cows, as well as horses, sheep and rabbits, Russian-made feed is very necessary for them. The production of grass flour granules is especially profitable. 
							</p>

							<p>
								Herbal pellets are a natural protein-vitamin feed for animals and poultry, which is got from crushed and dried grass by granulation. Granulation ensures safe feeding of animals.
							</p>

							<p>
								 Herbal flour in animal feeding is used to improve the usefulness of the diet. Advantages of granulated alfalfa for feeding farm animals:
							</p>	 
							<p>- the protein content is 2 times more, compared to other feed;</p>
							<p>- 3 times more minerals than in grain feed;</p>
							<p>- several times more vitamins than the rest of all known feeds.</p>
						</div>
					</div>

					<div class="col-lg-5">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/lucerna1.jpg' %}" alt="Granulated alfalfa" />
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>

				<div class="row">
					<div class="col-lg-5">
						<div class="column">
							<h4>Vitamin-Herbal Flour (VHF) from alfalfa in the form of granules is a wonderful product, both in pure form and as part of grain feed.</h4>

							<p>
								Granulated Vitamin-Herbal Flour (GVHF) is a vitamin-protein feed got from dried and granulated herbs of perennial plants (alfalfa). In the process of granulation, hay undergoes heat treatment at a temperature of 150-250 degrees, at such temperatures all pathogenic bacteria die in the hay. In terms of nutritional value, GVHF is close to traditional grain feeds, and in terms of the content of biologically active substances it surpasses them. Using granulated grass flour in animal diets has a beneficial effect on the growth and development of young animals, normalizes digestion, provides the animal body with vitamins, amino acids, macro-microelements, and helps to increase productivity and safety. It is especially important to use GVHF in winter.   
							</p>

						</div>
					</div>

					<div class="col-lg-7">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/lucerna2.jpg' %}" alt="Vitamin-Herbal Flour" />
						</div>
					</div>
				</div>

			</div>

			<h2 class="title" style="padding-top: 50px;">Straw granules</h2>

				<div class="row flex-lg-row-reverse">
					<div class="col-lg-7">
						<div class="column">
							<p>
								Straw granules for bedding in Horse stalls. What are the advantages of straw granules and why are they inferior to the usual litter for stalls according to a number of criteria? Unlike sawdust, straw granules absorb twice as much moisture and perfectly retain the smell of ammonia, and waste from such a litter is an excellent fertilizer, unlike extremely slowly decomposing sawdust. In addition, the latter may contain chemicals that were used to treat trees, which will definitely not have a positive effect on the health of the horse.
							</p>

							<p>
								Straw granules undergo heat treatment, which helps to get rid of spores and mold, which are highly susceptible to ordinary straw used as a litter. This material, despite its low price and ease of processing, loses to straw granules with an even more devastating score than sawdust. Due to the high absorbency of straw granules, their consumption during the year is much less than straw, which, moreover, is more difficult to remove from the stall.
							</p>

							<p>
								 The environmentally friendly granules produced by our company, which do not emit harmful phenols, are made of wheat straw and have a diameter of 8 mm. They need to be evenly distributed over the stall until a layer of 65 mm high is formed, and after a few minutes you can let the horse in here. Under the weight of its weight, the granules immediately begin to grind, and after a couple of days they will turn into a homogeneous soft litter.
							</p>	 
						</div>
					</div>

					<div class="col-lg-5">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/soloma1.jpg' %}" alt="Straw granules for bedding in Horse stalls" />
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>

				<div class="row" style="padding-top:50px;">
					<div class="col-lg-5">
						<div class="column">
							<p>
								Pellets are an excellent option for equestrian clubs with contact zoos or private stables, where, in addition to horses, there are other pets: rabbits, sheep and others, because straw pellets are so versatile that they are suitable, of course, not only for horses. 
							</p>
							<p>
								The daily care of such a litter is simple: the areas with granules that need to be removed are clearly visible. As necessary (preferably once a week), fresh straw granules should be added, and the litter should be completely replaced once a year. The waste will become a high-quality fertilizer.
							</p>
							<p>
								Our company, taking the best from European companies, has brought its vision to the production of straw granules, so that the output is a product of the highest quality at the optimal price. Such granules are an occasion to reconsider your old views on the litter of the stall, even if you have been giving preference to another material for many years. After all, in addition to all the obvious advantages, straw granules significantly save the costs of the horse owner, and this is a useful property not only in times of crisis. 
							</p>

						</div>
					</div>

					<div class="col-lg-7">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/soloma2.jpg' %}" alt="Pellets are an excellent option for equestrian clubs with contact zoos" />
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>
				
			</div>
		</div>
	</section>
	<!-- end section -->
</main>
{% endblock %}