{% extends 'en_baseapp/en_base.html' %}

{% load static %}


{% block title %}
Herbal flour | SHAR Ltd
{% endblock %}


{% block description %}
Grass flour production. Animal feed and vitamins.
{% endblock %}

{% block keywords %}

animal feed

{% endblock %}

{% block body_class %}
page-blog
{% endblock %}

{% block content %}
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('../../static/img/home_img/as_back_9.jpg')">

	<div class="pattern" style="opacity: 0.25;"></div>

	<div class="container">
		<div class="intro__text">
			<h1 class="intro__title">Our production</h1>
		</div>
	</div>
</header>
<main role="main">
	<section class="section">
		<div class="container">
			<div class="single-content">
				<h2 class="title">SHAR Ltd produces: </h2>
				<div class="row flex-lg-row">
					<div class="col-lg-6">
						<img class="img-fluid" src="{% static 'img/products_img/soloma4.jpg' %}" alt="Our production" />
					</div>

					<div class="col-lg-6">
						<div class="column">
							<p>
								- roughage and bedding for all types of domestic and farm animals and birds;
							</p>

							<p>
								- the safest from the point of view of sanitation fillers for compound feeds and premixes;
							</p>

							<p>
								- mulch for plants, which gives protection from the scorching heat and germination of weeds, and during decomposition increases the fertility and looseness of the soil;
							</p>
							<p>
								- feed for the fish farming industry;
							</p>
							<p>
								- granulated vitamin-herbal flour;
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-MB-30"></div>
			<div class="section-heading section-heading--center">
				<h2 class="title">Our advantages</h2>
			</div>
			<div class="blog single-content">
				<div class="row justify-content-md-center">
					<div class="col-md-12">
						<p>
							<strong>1. Quality control of the raw materials used</strong>
						</p>
						<p>
							Quality control of our products includes several stages, among which the quality control of incoming raw materials is of considerable importance. The quality control of raw materials is to strictly follow the exclusive recipe of our products, preventing re-sorting, unplanned inclusions, the use of raw materials with signs of rotting, etc., for which we carefully check each batch of raw materials, ensure its proper storage and rapid processing into a high-tech and high-quality product. It is also worth noting that both incoming raw materials and each batch of finished products are subjected to laboratory tests. We control the entire production cycle "from the field to the counter". 
						</p>
						<p>
							<strong>2. Environmental friendliness and high quality of finished products, confirmed by certificates</strong>
						</p>
						<p>
							Today it is difficult to compete based on product properties. Product uniqueness is quickly copied. However, the use of only natural environmentally friendly raw materials for the production of our products, grown without the abuse of herbicides and chemical fertilizers, the use of innovative production technologies and advanced equipment allows us to confidently declare that we offer our customers products that are distinguished by undeniable quality, environmental friendliness, phyto-sanitary safety , increased shelf life, nutritional value.
						</p>
						<p>
							This is achieved because high-temperature technology is used in the production of granules, which additionally disinfects, provides fermentation of the product and contributes to a longer shelf life. 
						</p>
						<p>
							<strong>3. Flexible pricing policy </strong>
						</p>
						<div class="row">
							<div class="col">
								<div class="column">
									<p>
										As manufacturers, we can offer the best prices for our products. We provide discounts for large volumes! Selling products only directly, bypassing the chain of intermediaries, the absence of inappropriate costs, production efficiency, well-thought-out logistics for the supply of raw materials help to reduce the cost of products for the end consumer. 
									</p>

									<p>
										Marketing research has shown that the ratio of the “price-quality” indicators of products keeps us in the first lines of the rating. For example, the cost of granulated alfalfa (100%, without admixture of meadow and lake grasses, like many competitors) at the moment is from 16 rubles per kilogram of production.  
									</p>
									<p>
										<strong>3. Responsibility for the fulfillment of the assumed obligations on the delivery time</strong>
									</p>
									<p>
										A strong engineering team enables us to increase production volumes without losing quality. The presence of “old school” specialists on the staff, who transfer important and rare experience to young colleagues, ensures labor safety, creates comfortable workplaces, improves their professional skills, forms a corporate culture and team thinking. 
									</p>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="column">
									<img class="img-fluid" src="{% static 'img/products_img/soloma5.jpg' %}" alt="Responsibility for the fulfillment of the assumed obligations on the delivery time" />
								</div>
							</div>
						</div>

						<p>
							The company is constantly working to improve the working conditions of employees, the frequency of medical examinations of employees, the frequency of work and rest are observed. 
						</p>
						

						<p class="quote">
							A professionally oriented team of specialists can complete any assigned production task around the clock, which guarantees the buyer the fulfillment of all delivery dates upon conclusion of the relevant contract. All shipped goods are produced under GOSTs and are accompanied by Quality Certificates and Safety Declarations TR CU.
						</p>

						<p>
							<strong>5. Convenient packaging of products</strong>
						</p>

						<p>
							For the convenience of current and potential customers, our company provides optimal packaging for each customer for the manufactured goods. We are ready to supply our products packed in proper containers with net weight from 1 to 1000 kg.
						</p>

						<p>
							<strong>6. The economic feasibility of using our products</strong>
						</p>

						<p>
							The use of our products will allow everyone who is engaged in the cultivation of birds and farm animals:
						</p>

						<p>
							<em>- improve the health of the livestock, the safety of young animals, reduce the percentage of deaths of animals and poultry;</em>
						</p>

						<p>
							<em>- increase the efficiency of feeding by 10 - 20% (i.e., reduce costs due to optimal digestibility and achieving high weight gain);</em>
						</p>
						<p>
							<em>- to increase the eatability of feed, to ensure the absence of stress during feeding;</em>
						</p>
						<p>
							<em>- to reduce financial costs for feed by 15 - 20%;</em>
						</p>
						<p>
							<em>- to reduce the time of growing when fattening; </em>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}