{% extends 'baseapp/base.html' %}

{% load static %}

{% block body_class %}
page-about
{% endblock %}

{% block content %}
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('../../static/img/head_picture.jpg');">

	<div class="pattern" style="opacity: 0.25;"></div>

	<div class="container">
		<div class="intro__text">
			<h1 class="intro__title">О Нас</h1>
		</div>
	</div>
</header>
<!-- end header -->

<main role="main">
	<!-- start section -->
	<section class="section section--no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="col-MB-30">
						<h2>Наша Компания создана сравнительно недавно.</h2>

						<h4>Дата основания - 03.03.2020 г.</h4>
					</div>

					<p>
						Опыт и энтузиазм сотрудников позволяет нам развиваться довольно быстрыми темпами. В мае 2020 года введена в эксплуатацию производственная линия по гранулированию мощностью 100 тонн в сутки, что позволяет обеспечить сырьем большинство ведущих комбикормовых заводов России, а также заводов и ферм Европы.
					</p>

					<p>
						Благодаря грамотно подобранному персоналу, проработанному до мелочей современному, технологичному процессу производства, качеству выпускаемой продукции, а также любви к своему делу, мы добиваемся того, чтобы в команде с  сельхоз товаропроизводителями обеспечить здоровье животных, максимальную, генетически заложенную продуктивность (молочную, яичную, мясную – прирост живой массы), сократить заболеваемость и падеж, снизить затраты на лечение поголовья, повысить иммунный статус и устойчивость к инфекциям, и , в итоге, повысить экономическую эффективность ведения хозяйства.
					</p>

					<p class="col-lg-MB-20">&nbsp;</p>

				</div>

				<div class="col-lg-4 offset-lg-1">
					<div class="col-MB-30">
						<img class="d-block mx-auto img-fluid" src="{% static 'img/as_l2.png' %}" alt="demo" />
					</div>

					<!-- <div class="col-MB-30">
						<img class="img-fluid" src="{% static 'img/slogan.png' %}" alt="demo" />
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<section class="section section--background-base-light section--background-logo">
		<div class="container">
			<div class="section-heading section-heading--left">
				<h2 class="title">Наши преимущества</h2>
			</div>

			<div class="counters counters--style-2">
				<div class="counters__inner">
					<div class="row">
						<!-- star item -->
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--1"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">товаров выпускаются по ГОСТ</p>
							</div>
						</div>
						<!-- end item -->
						<!-- star item -->
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--3"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="16 " data-after="р">16 </p>

								<p class="counter__item__title">за килограмм продукции</p>
							</div>
						</div>
						<!-- end item -->
						<!-- star item -->
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--4"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">люцерна, без примесей</p>
							</div>
						</div>
						<!-- end item -->
						<!-- star item -->
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--2"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="1000" data-after="кг">1000</p>

								<p class="counter__item__title">максимальная тара</p>
							</div>
						</div>
						<!-- end item -->

					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--custom-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="col-MB-30">
						<h2>Мы осознаем свою ответственность</h2>
					</div>

					<p>
						Продукция к нашему потребителю поступает натуральной, высококачественной и экологически безопасной. Мы осознаем свою ответственность в области изготовления безопасных и здоровых кормов, подстилок и наполнителей, удовлетворяющих самым высоким требованиям. Выпуск безупречной продукции – главная задача компании сегодня, это позволяет нам уверенно смотреть в будущее.
					</p>

					<p>
						Уверены, наша продукция будет интересна широчайшему кругу лиц, начиная от детей, желающих угостить своего любимца хрустящей, ароматной  «вкусняшкой», хозяев личных подсобных хозяйств, кролиководов, заботящихся о сохранности и здоровье своих подопечных, до конно-спортивных школ, крупных рыбоводческих хозяйств и агрохолдингов, использующих нашу гранулу люцерны для полнорационного откорма, а гранулу соломы – для антисептической впитывающей подстилки для выращивания птицы, КРС, свиного поголовья. 
					</p>

					<!-- <p class="d-lg-none"><img class="img-fluid" src="{% static 'img/img_7.jpg' %}" alt="demo" /></p> -->

					
				</div>
			</div>
		</div>

		<div class="img-place" style="background-image: url(../../static/img/img_7.jpg);"></div>

	</section>
	<!-- start section -->
<!-- 	<section class="section section--no-pt section--no-pb section-team">
		<div class="container">
			<div class="team">
				<div class="team__inner">
					<div class="row no-gutters">
						<div class="col-12 col-lg-6">
							<div class="team__item team__item--text">
								<div>
									<h2>Our Dream Team</h2>

									<p>
										Appetizing luscious savor hot senses. Effervescent the secure special. Kids spicey chance excellent proven too sleek handcrafted when makes intense. World's 100% get smells look cholesterol tangy pop-top wave.
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team__item">
								<div class="team__item__inner">
									<figure>
										<img src="{% static 'img/blank.gif' %}" style="background-image: url('../static/img/team_img/1.jpg');" alt="demo" />

										<div class="team__item__descriptiom">
											<span class="team__item__title">William Doe</span>
											<span class="team__item__subtitle">Agronomist</span>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team__item">
								<div class="team__item__inner">
									<figure>
										<img src="{% static 'img/blank.gif' %}" style="background-image: url('../static/img/team_img/2.jpg');" alt="demo" />

										<div class="team__item__descriptiom">
											<span class="team__item__title">Jack Silver</span>
											<span class="team__item__subtitle">Tractor-Driver</span>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team__item">
								<div class="team__item__inner">
									<figure>
										<img src="{% static 'img/blank.gif' %}" style="background-image: url('../static/img/team_img/3.jpg');" alt="demo" />

										<div class="team__item__descriptiom">
											<span class="team__item__title">Billi Moore</span>
											<span class="team__item__subtitle">Assistant</span>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team__item">
								<div class="team__item__inner">
									<figure>
										<img src="{% static 'img/blank.gif' %}" style="background-image: url('../static/img/team_img/4.jpg');" alt="demo" />

										<div class="team__item__descriptiom">
											<span class="team__item__title">John Connor</span>
											<span class="team__item__subtitle">Combine Operator</span>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team__item">
								<div class="team__item__inner">
									<figure>
										<img src="{% static 'img/blank.gif' %}" style="background-image: url('../static/img/team_img/5.jpg');" alt="demo" />

										<div class="team__item__descriptiom">
											<span class="team__item__title">Steve Jonson</span>
											<span class="team__item__subtitle">Farmer</span>
										</div>
									</figure>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<div class="team__item">
								<div class="team__item__inner">
									<figure>
										<img src="{% static 'img/blank.gif' %}" style="background-image: url('../static/img/team_img/6.jpg');" alt="demo" />

										<div class="team__item__descriptiom">
											<span class="team__item__title">Allan Bolt</span>
											<span class="team__item__subtitle">Mechanic</span>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- end section -->

	<!-- start section -->
	<!-- <section class="section section--background-base-light section--background-logo">
		<div class="container">
			<div class="section-heading section-heading--left">
				<h2 class="title">The Openfield Timeline</h2>
			</div>

			<div class="timeline">
				<div class="timeline__inner">
					<div class="row">
						<div class="col-md-3">
							<div class="timeline__item">
								<p class="timeline__year">1907</p>

								<h4 class="timeline__title">Smells Racy Free Announcing</h4>

								<p>
									Vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes
								</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="timeline__item">
								<p class="timeline__year">1994</p>

								<h4 class="timeline__title">Grainfarmers<br />Formed</h4>

								<p>
									Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. 
								</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="timeline__item">
								<p class="timeline__year">2001</p>

								<h4 class="timeline__title">Group Cereals and Lingrain Merge</h4>

								<p>
									Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink.
								</p>
							</div>
						</div>

						<div class="col-md-3">
							<div class="timeline__item">
								<p class="timeline__year">2016</p>

								<h4 class="timeline__title">Aquired Countrywide Farmers</h4>

								<p>
									First superior full-bodied drink. Like outstanding odor economical deal clinically 
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section> -->
	<!-- end section -->

	<!-- start section -->
	<!-- <section class="section">
		<div class="container">
			<div class="section-heading section-heading--center">
				<h2 class="title">Skills Company</h2>
			</div>

			<div class="skills">
				<div class="skills__inner">

					<div class="skill__item">
						<div class="skill__chart js-chart" data-percent="45" data-bar-color="#f1cf69">
							<span class="skill__percent percent" data-after="%">45</span>
						</div>

						<p>The Crops</p>
					</div>

					<div class="skill__item">
						<div class="skill__chart js-chart" data-percent="65" data-bar-color="#f1cf69">
							<span class="skill__percent percent" data-after="%">65</span>
						</div>

						<p>Fresh Vegatables</p>
					</div>

					<div class="skill__item">
						<div class="skill__chart js-chart" data-percent="75" data-bar-color="#f1cf69">
							<span class="skill__percent percent" data-after="%">75</span>
						</div>

						<p>Different Livestock</p>
					</div>

					<div class="skill__item">
						<div class="skill__chart js-chart" data-percent="50" data-bar-color="#f1cf69">
							<span class="skill__percent percent" data-after="%">50</span>
						</div>

						<p>Modern Technique</p>
					</div>

					<div class="skill__item">
						<div class="skill__chart js-chart" data-percent="40" data-bar-color="#f1cf69">
							<span class="skill__percent percent" data-after="%">40</span>
						</div>

						<p>Farm Factory</p>
					</div>

				</div>
			</div>
		</div>
	</section> -->
	<!-- end section -->
</main>

{% endblock %}