{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
Наша продукция №1 на рынке России, Европы, СНГ | ООО ШАР
{% endblock %}


{% block description %}
Контроль качества нашей продукции включает в себя несколько этапов, среди которых немалое значение занимает контроль за качеством входящего сырья.
{% endblock %}


{% block content %}
<!-- start header -->
<header id="start-screen" class="start-screen--style-1">
	<div id="vegas-slider" data-dots="true">
		<div class="vegas-control">
			<!-- <span id="vegas-control__prev" class="vegas-control__btn">Prev</span>
			<span id="vegas-control__next" class="vegas-control__btn">Next</span> -->
		</div>
	</div>

	<div id="start-screen_content-container">
		<div class="start-screen__content start-screen__content-first">
			<div class="v-align">
				<div class="v-middle">
					<div class="container">
						<div class="row justify-content-center text-center">
							<div class="col-12 col-xl-12">
								<p class="title">шебекинский агро ресурс</p>

								<p class="subtitle">
									компания
								</p>

								<p>
									<a class="custom-btn big primary" href="{% url 'show_about' %}">О нас</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!-- 		<div class="start-screen__content start-screen__content-second">
			<div class="v-align">
				<div class="v-middle">
					<div class="container">
						<div class="row justify-content-md-center text-center">
							<div class="col-12 col-lg-10 col-xl-8">
								<p class="title">Fruits</p>

								<p>
									Evulates vast a real proven works discount secure care. Market invigorate a awesome handcrafted bigger comes newer recommended lifetime. Odor to yummy high racy bonus soaking mouthwatering. First superior full-bodied drink. Like outstanding odor economical deal clinically
								</p>

								<p>
									<a class="custom-btn big primary" href="#">find out</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="start-screen__content start-screen__content-third">
			<div class="v-align">
				<div class="v-middle">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-8">
								<p class="title">Fresh ideas</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</header>
<main role="main">
	<section class="section section--no-pb">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4 col-xl-3">
					<div class="col-MB-30">
						<h2>Главные потребители нашей продукции</h2>
					</div>
				</div>

				<div class="col-12 col-lg-8 col-xl-9">
					<div class="col-MB-30">
						<h4>
							Уверены, наша продукция будет интересна широчайшему кругу лиц.
						</h4>

						<p>
							Начиная от детей, желающих угостить своего любимца хрустящей, ароматной  «вкусняшкой», хозяев личных подсобных хозяйств, кролиководов, заботящихся о сохранности и здоровье своих подопечных, до конно-спортивных школ, крупных рыбоводческих хозяйств и агрохолдингов, использующих нашу гранулу люцерны для полнорационного откорма, а гранулу соломы – для антисептической впитывающей подстилки для выращивания птицы, КРС, свиного поголовья. 
						</p>
					</div>

					<div class="feature feature--style-1">
						<div class="feature__inner">
							<div class="row justify-content-between">
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--1"></i>

										<h3 class="feature__item__title  h4">Крупный<br />рогатый скот</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--2"></i>

										<h3 class="feature__item__title  h4">Кролики</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--3"></i>

										<h3 class="feature__item__title  h4">Лошади</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--4"></i>

										<h3 class="feature__item__title  h4">Козы<br />и овцы</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--5"></i>

										<h3 class="feature__item__title  h4">Домашние<br />животные</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--7"></i>

										<h3 class="feature__item__title  h4">Птица</h3>
									</div>
								</div>
								<div class="col">
									<div class="feature__item">
										<i class="feature__item__ico as_feature__item__ico--6"></i>

										<h3 class="feature__item__title  h4">Комбикормовые<br />заводы</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="col-MB-30">
						<h2>Наше производство</h2>

						<h4>Проведенные маркетинговые исследования показали, что соотношение показателей «цена-качество» продукции держит нас в первых строках рейтинга.</h4>
					</div>

					<p>
						Контроль качества нашей продукции включает в себя несколько этапов, среди которых немалое значение занимает контроль за качеством входящего сырья.
					</p>

					<p>
						Все отгружаемые товары выпускаются по ГОСТам и сопровождаются Сертификатами качества и Декларациями по безопасности ТР ТС.
					</p>

					<p>
						Продажа продукции только напрямую, минуя цепь посредников, отсутствие нецелевых расходов, экономичность производства, продуманная логистика поставки сырья помогают снизить стоимость продукции для конечного потребителя. 
					</p>

					<p>
						Мы готовы поставлять нашу продукцию, упакованной в надлежащую тару  весом нетто от 1  до 1000 кг.
					</p>

					<p>
						Профессионально-ориентированная команда специалистов способна круглосуточно выполнить любую поставленную производственную задачу, что гарантирует покупателю исполнение всех сроков поставки при заключении соответствующего договора.
					</p>

					<p>
						<a class="custom-btn primary big" href="{% url 'show_production' %}">Подробнее</a>
					</p>
				</div>

				<div class="col-lg-4 offset-lg-1">
					<div class="col-MB-30">
						<img class="d-block mx-auto img-fluid" src="{% static 'img/as_l2_2.png' %}" alt="demo" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--background-logo">
		<div class="container">
			<div class="section-heading section-heading--left">
				<h2 class="title">Наши преимущества</h2>
			</div>

			<div class="counters counters--style-2">
				<div class="counters__inner">
					<div class="row">
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--1"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">товаров выпускаются по ГОСТ</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--3"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="16 " data-after="р">16 </p>

								<p class="counter__item__title">за килограмм продукции</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--4"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="100" data-after="%">100</p>

								<p class="counter__item__title">люцерна, без примесей</p>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="counter__item">
								<i class="counter__item__ico counter__item__ico--2"></i>

								<p class="counter__item__count  js-count" data-from="0" data-to="1000" data-after="кг">1000</p>

								<p class="counter__item__title">максимальная тара</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section--no-pt">
		<div class="container">
			<div class="section-heading section-heading--center">
				<h2 class="title">Наша продукция</h2>
			</div>
			<div class="products">
				<div class="products__inner">
					<div class="row no-gutters align-items-md-center">
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--text">
								<i class="product__item__ico as_product__item__ico--2"></i>

								<h3 class="product__item__title"><a href="{% url 'show_products' %}">Гранулированная люцерна</a></h3>

								<p>
									Основным питанием для крупнорогатого скота, выращиваемого на фермах,  является специальный корм для животных. От качества питания зависит скорость набора веса и даже вкусовые качества мяса.
									Если учитывать, что в России многие занимаются выращиванием бычков и коров, а также лошадей, овец и кроликов, корма Российского производства для них очень необходимы. Особенно выгодным является производство гранул травяной муки.
								</p>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--image">
								<a href="{% url 'show_products' %}"><img class="img-fluid" src="{% static 'img/products_img/lucerna3.jpg' %}" alt="Гранулированная люцерна" /></a>
							</div>
						</div>
					</div>

					<div class="row no-gutters align-items-md-center">
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--text">
								<i class="product__item__ico as_product__item__ico--1"></i>

								<h3 class="product__item__title"><a href="{% url 'show_products' %}">Гранулированная солома</a></h3>

								<p>
									Соломенные гранулы для подстилки в денники лошадей.
									В чем же плюсы соломенных гранул и почему им по целому ряду критериев уступают привычные нам подстилки для денников? В отличие от опилок, соломенные гранулы впитывают в два раза больше влаги и прекрасно удерживают запах аммиака, а отходы от такой подстилки – отличное удобрение, в отличие от крайне медленно разлагающихся опилок. К тому же последние могут содержать химические вещества, которыми обрабатывались деревья, что точно не скажется положительно на здоровье лошади.
								</p>
							</div>
						</div>
						<div class="col-md-12 col-lg-6">
							<div class="product__item product__item--image">
								<a href="{% url 'show_products' %}"><img class="img-fluid" src="{% static 'img/products_img/soloma3.jpg' %}" alt="Гранулированная солома" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="item map-container">
						<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A243a4d286d6e29ca7532e6d2de89d0cb481c48b50113bdadb76f19882d9ac5ec&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>	
{% endblock %}