{% extends 'baseapp/base.html' %}

{% load static %}


{% block title %}
Гранулированная люцерна, гранулированная солома. Произведена по Госту и без консервантов | ООО ШАР
{% endblock %}


{% block description %}
Травяные гранулы – это натуральный белково – витаминный корм для животных и птицы, который получают из измельченной и высушенной травы при помощи гранулирования
{% endblock %}


{% block body_class %}
page-product-case
{% endblock %}

{% block content %}
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('../../static/img/home_img/as_back_6.jpg')">

	<div class="pattern" style="opacity: 0.25;"></div>

	<div class="container">
		<div class="intro__text">
			<h1 class="intro__title">Наша продукция</h1>
		</div>
	</div>
</header>
<main role="main">
	<!-- start section -->
	<section class="section">
		<div class="container">
			<div class="single-content">
				<h2 class="title">Гранулированная люцерна</h2>

				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="column">
							<h4>В сельскохозяйственном мире производство и хорошее состояние здоровья животных напрямую зависит от кормления.</h4>

							<p>
								Так как в большинстве животных ферм скот идет на продажу, на мясо и на производство последующих поколений, и тут просто нельзя экономить, на их питании.
							</p>

							<p>
								Что же собой представляет гранулированная люцерна для кормления животных? Это травяная мука, которая сама по себе представляется кормовым продуктом из белков и витаминов. Полученная из трав, которые были собраны на ранней стадии вегетации. Такая трава была подана сушке при высокой температуре, а потом ее просто перетерли в муку и загранулировали.
							</p>

							<p>
								Сама технология по сбору и сушке травы была придумана специально для того, чтобы можно было сохранить 95% питательных и витаминных веществ. Следовательно, такой корм значительно повысит продуктивность животных. А хранят данную муку в виде гранул. При температуре воздуха от -15 до 25 С , при относительной влажности 70-75 %, сроком до 2 лет.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4">
						<div class="column">
							<p>
								Преимущества гранулированной люцерны для кормления сельскохозяйственных животных:
							</p>

							<p>
								- содержание протеина в 2 раза больше, по сравнению с другим кормом
							</p>

							<p>
								- в 3 раза больше минеральных веществ, чем в зерновом корме
							</p>

							<p>
								- в несколько раз больше витаминов, чем во всех остальных известных кормах.
							</p>
							<p>
								Результатом является экономия, так как затраты на кормление скота на 10-20%, меньше.
								Так что покупка данного корма для своего скота является выгодной с финансовой стороны. Хранить данную продукцию в открытом виде можно 1 год в сухом месте, но если его не открывать и хранить в сухом месте, то можно и до 10 лет, при этом он не теряет своих питательных веществ и свойств. Животные хорошо употребляют корм и хорошо переваривают, причем не важно корова или кролик, не бывает никаких проблем с пищеварением.
							</p>
						</div>
					</div>

					<div class="col-lg-3 offset-xl-1">
						<div class="column">
							<ul class="details">
								<li>
									<p class="title">Продукт</p>
									<strong>Гранулированная люцерна</strong>
								</li>

								<li>
									<p class="title">суточный надой молока</p>
									<strong>на 12% больше</strong>
								</li>

								<li>
									<p class="title">привес кроликов</p>
									<strong>от 8% до 15%</strong>
								</li>

								<li>
									<p class="title">привес свиней на откорме</p>
									<strong>от 10% до 19%</strong>
								</li>

								<li>
									<p class="title">привес птицы</p>
									<strong>от 7% до 12%</strong>
								</li>
								<li>
									<p class="title">яйценоскость птиц</p>
									<strong>на 15% превышает показатели</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>

				<div class="row flex-lg-row-reverse">
					<div class="col-lg-7">
						<div class="column">
							<h4>Производство травяных гранул для крупнорогатого скота, птицы, лошадей, овец и кроликов.</h4>

							<p>
								Основным питанием для крупнорогатого скота, выращиваемого на фермах,  является специальный корм для животных. От качества питания зависит скорость набора веса и даже вкусовые качества мяса.
								Если учитывать, что в России многие занимаются выращиванием бычков и коров, а также лошадей, овец и кроликов, корма Российского производства для них очень необходимы. Особенно выгодным является производство гранул травяной муки. 
							</p>

							<p>
								Травяные гранулы – это натуральный белково – витаминный корм для животных и птицы, который получают из измельченной и высушенной травы при помощи гранулирования.
								Гранулирование обеспечивает безопасное кормление животных.
							</p>

							<p>
								 Травяную муку в кормлении животных используют для улучшения полноценности рациона. Преимущества гранулированной люцерны для кормления сельскохозяйственных животных.
							</p>	 
						</div>
					</div>

					<div class="col-lg-5">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/lucerna1.jpg' %}" alt="Гранулированная люцерна" />
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>

				<div class="row">
					<div class="col-lg-5">
						<div class="column">
							<h4>Витаминно-Травяная Мука (ВТМ) из люцерны в виде гранул — это замечательный продукт, как в чистом виде, так и в составе зернового комбикорма.</h4>

							<p>
								Гранулированная Витаминно-травяная мука (ГВТМ) - это витаминно-белковый корм, полученный из  высушенных и загранулированных трав многолетних растений (люцерна). В процессе грануляции сено проходит термическую обработку при температуре от 150-250 градусов, при таких температурах в сене погибают все болезнетворные бактерии.  По питательности ГВТМ приближена к традиционным зерновым кормам, а по содержанию БАВ превосходит их. Применение гранулированной травяной муки в рационах животных благоприятно влияет на рост и развитие молодняка, нормализует пищеварение, обеспечивает организм животных витаминами, аминокислотами, макро- микроэлементами, способствует повышению продуктивности и сохранности. Особенно важно применение ГВТМ в зимний период.  
							</p>

						</div>
					</div>

					<div class="col-lg-7">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/lucerna2.jpg' %}" alt="Витаминно-Травяная Мука (ВТМ) из люцерны в виде гранул" />
						</div>
					</div>
				</div>

			</div>

			<h2 class="title" style="padding-top: 50px;">Соломенные гранулы</h2>

				<div class="row flex-lg-row-reverse">
					<div class="col-lg-7">
						<div class="column">
							<p>
								Соломенные гранулы для подстилки в денники лошадей.
								В чем же плюсы соломенных гранул и почему им по целому ряду критериев уступают, привычные нам подстилки для денников? В отличие от опилок, соломенные гранулы впитывают в два раза больше влаги и прекрасно удерживают запах аммиака, а отходы от такой подстилки – отличное удобрение, в отличие от крайне медленно разлагающихся опилок. К тому же последние могут содержать химические вещества, которыми обрабатывались деревья, что точно не скажется положительно на здоровье лошади.
							</p>

							<p>
								Соломенные гранулы проходят термообработку, что помогает избавиться от спор и плесени, которым сильно подвержена обычная солома, используемая в качестве подстилки. Этот материал, несмотря на свою низкую цену и легкость в переработке, проигрывает гранулам из соломы с еще более разгромным счетом, чем опилки. Благодаря высокой впитывающей способности соломенных гранул, их расход в течение года получается гораз­до меньшим, чем соломы, которую, к тому же, сложнее убирать из денника.
							</p>

							<p>
								 Экологически чистые, не выделяющие вредных фенолов гранулы, производимые нашей компанией, изготавливаются из пшеничной соломы и имеют диаметр 8 мм. Их нужно равномерно распределить по деннику до образования слоя высотой 65 мм, и уже через несколько минут сюда можно пускать лошадь. Под тяжестью ее веса гранулы сразу же начинают измельчаться, и через пару дней превратятся в однородную мягкую подстилку.
							</p>	 
						</div>
					</div>

					<div class="col-lg-5">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/soloma1.jpg' %}" alt="Соломенные гранулы для подстилки в денники Лошадей" />
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>

				<div class="row" style="padding-top:50px;">
					<div class="col-lg-5">
						<div class="column">
							<p>
								Гранулы являются прекрасным вариантом для конных клубов с контактными зоопарками или частных конюшен, в которых, помимо лошадей, есть другие домашние животные: кролики, овцы и другие, ведь соломенные гранулы настолько универсальны, что подходят, конечно же, не только лошадям. 
							</p>
							<p>
								Ежедневный уход за такой подстилкой отличается простотой: участки с гранулами, которые необходимо убрать, хорошо видны. По мере необходимости (желательно – раз в неделю), следует подсыпать свежие соломенные гранулы, и раз в год полностью заменять подстилку. Отходы же станут высококачественным удобрением.
							</p>
							<p>
								Наша компания, взяв самое лучшее от европейских фирм, привнесла в производство соломенных гранул свое видение, благодаря чему на выходе получается продукт высочайшего качества по оптимальной цене. Такие гранулы– повод пересмотреть свои старые взгляды на подстилку денника, даже если вы уже много лет отдаете предпочтение другому материалу. Ведь, помимо всех очевидных плюсов, соломенные гранулы существенно экономят расходы коневладельца, а это – полезное свойство не только в кризисные времена.
							</p>

						</div>
					</div>

					<div class="col-lg-7">
						<div class="column">
							<img class="img-fluid" src="{% static 'img/products_img/soloma2.jpg' %}" alt="Гранулы являются прекрасным вариантом для конных клубов с контактными зоопарками" />
						</div>
					</div>
				</div>

				<div class="col-MB-30"></div>
				
			</div>
		</div>
	</section>
	<!-- end section -->
</main>
{% endblock %}