{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
Контроль качества на всех этапах производства, высокое качество конечной продукции | ООО ШАР
{% endblock %}


{% block description %}
Грубые корма и подстилка для всех видов домашних и сельскохозяйственных животных и птиц.
{% endblock %}

{% block body_class %}
page-blog
{% endblock %}

{% block content %}
<header class="intro  align-items-center  jarallax" data-speed="0.5" data-img-position="50% 33%" style="background-image: url('../../static/img/home_img/as_back_9.jpg')">

	<div class="pattern" style="opacity: 0.25;"></div>

	<div class="container">
		<div class="intro__text">
			<h1 class="intro__title">Производство</h1>
		</div>
	</div>
</header>
<main role="main">
	<section class="section">
		<div class="container">
			<div class="single-content">
				<h2 class="title">ООО «ШАР» производит: </h2>
				<div class="row flex-lg-row">
					<div class="col-lg-6">
						<img class="img-fluid" src="{% static 'img/products_img/soloma4.jpg' %}" alt="Наше производство" />
					</div>

					<div class="col-lg-6">
						<div class="column">
							<p>
								- грубые корма и подстилку для всех видов домашних и сельскохозяйственных животных и птиц;
							</p>

							<p>
								- самые безопасные, с точки зрения санитарии, наполнители для комбикормов и премиксов;
							</p>

							<p>
								- мульчу для растений, дающую защиту от палящей жары и прорастания сорняков, а при разложении - увеличивающую плодородие и рыхлость почв;
							</p>
							<p>
								- корма для использования в рыбоводческой отрасли;
							</p>
							<p>
								- гранулированную витаминно-травяную муку;
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-MB-30"></div>
			<div class="section-heading section-heading--center">
				<h2 class="title">Наши преимущества</h2>
			</div>
			<div class="blog single-content">
				<div class="row justify-content-md-center">
					<div class="col-md-12">
						<p>
							<strong>1. Контроль качества используемого сырья</strong>
						</p>
						<p>
							Контроль качества нашей продукции включает в себя несколько этапов, среди которых немалое значение занимает контроль за качеством входящего сырья. Контроль качества сырья заключается в том, чтобы четко следовать эксклюзивной рецептуре нашей продукции, не допуская пересортицы, незапланированных включений, использования сырья с признаками гниения и пр., для чего мы тщательно проверяем каждую партию сырья, обеспечиваем его правильное хранение и быструю переработку в высокотехнологичный и качественный продукт. Стоит также отметить, что лабораторным исследованиям подвергаются как входящее сырье, так и каждая партия готовой продукции. Мы контролируем весь цикл производства «от поля до прилавка».
						</p>
						<p>
							<strong>2. Экологичность и высокое качество готовой продукции, подтвержденное сертификатами</strong>
						</p>
						<p>
							Сегодня сложно конкурировать за счет свойств товара. Товарная уникальность быстро копируется. Однако использование для производства нашей продукции только натурального экологически чистого сырья, выращенного без злоупотребления гербицидами и химическими удобрениями, применение инновационных технологий производства и передового оборудования позволяет нам уверенно заявить, что мы предлагаем своим клиентам продукцию, которая отличается неоспоримыми качеством, экологичностью, фито-санитарой безопасностью, увеличенным сроком годности, питательностью. 
						</p>
						<p>
							Это достигается тем, что при производстве гранул применяется высокотемпературная технология, что в свою очередь дополнительно обеззараживает, обеспечивает ферментизацию продукта и способствует более длительному сроку хранения.
						</p>
						<p>
							<strong>3. Гибкая ценовая политика</strong>
						</p>
						<div class="row">
							<div class="col">
								<div class="column">
									<p>
										Как производители, мы имеем возможность предлагать самые лучшие цены на нашу продукцию. При больших объёмах мы предоставляем скидки! Продажа продукции только напрямую, минуя цепь посредников, отсутствие нецелевых расходов, экономичность производства, продуманная логистика поставки сырья помогают снизить стоимость продукции для конечного потребителя.
									</p>

									<p>
										Проведенные маркетинговые исследования показали, что соотношение показателей «цена-качество» продукции держит нас в первых строках рейтинга. К примеру, стоимость гранулированной люцерны (100%, без примеси луговых и озерных трав, как у многих конкурентов)  на данный момент составляет  от 16 рублей за килограмм продукции. 
									</p>
									<p>
										<strong>3. Ответственность при выполнении взятых обязательств по срокам поставки</strong>
									</p>
									<p>
										Сильная инженерная команда создает нам возможность увеличения объемов выпуска продукции без потери качества. Наличие в штате специалистов «старой школы», которые отвечают за передачу важного и редкого опыта молодым коллегам обеспечивает безопасность труда, создает комфортные рабочие места, совершенствует их профессиональные навыки, формирует корпоративную культуру и командное мышление.
									</p>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="column">
									<img class="img-fluid" src="{% static 'img/products_img/soloma5.jpg' %}" alt="
										<strong>3. Ответственность при выполнении взятых обязательств по срокам поставки" />
								</div>
							</div>
						</div>

						<p>
							На предприятии ведется постоянная работа по улучшению условий труда работников, соблюдается периодичность медосмотров сотрудников, периодичность времени труда и отдыха. Профессионально-ориентированная команда специалистов способна круглосуточно выполнить любую поставленную производственную задачу, что гарантирует покупателю исполнение всех сроков поставки при заключении соответствующего договора.
						</p>
						

						<p class="quote">
							Все отгружаемые товары выпускаются по ГОСТам и сопровождаются Сертификатами качества и Декларациями по безопасности ТР ТС.
						</p>

						<p>
							<strong>5. Удобная фасовка продукции</strong>
						</p>

						<p>
							Для удобства настоящих и потенциальных клиентов, наша компания предоставляет оптимальную для каждого покупателя фасовку произведенного товара. Мы готовы поставлять нашу продукцию, упакованной в надлежащую тару  весом нетто от 1  до 1000 кг.
						</p>

						<p>
							<strong>6. Экономическая целесообразность применения нашей продукции</strong>
						</p>

						<p>
							Применение нашей продукции  позволит каждому, кто занимается выращиванием птиц и сельхозживотных:
						</p>

						<p>
							<em>- улучшить здоровье поголовья, сохранность молодняка, сократить процент падежа животных и птицы;</em>
						</p>

						<p>
							<em>- увеличить эффективность кормления на 10 - 20%( т.е. снизить расходы за счет оптимальной усвояемости и достижения высоких привесов);</em>
						</p>
						<p>
							<em>- повысить поедаемость корма, обеспечить отсутствие стрессов при кормлении;</em>
						</p>
						<p>
							<em>- сократить финансовые затраты на корма на 15 - 20%;</em>
						</p>
						<p>
							<em>- сократить сроки выращивания при откорме;</em>
						</p>
						
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}